.container {
    padding: 100px 20px;
    margin: 0 auto;
    width: 80%;
}
  
section {
    margin: 40px 0;
}

h3 {
    font-style: italic;
}

.container-outline-style {
    background-color: #add8e6;
    outline: 5px red;
    outline-style: dotted;
    height: 100px;
    width: 200px;
}

.container-outline-width {
    background-color: #add8e6;
    outline-color: red;
    outline-width: 30px;
    outline-style: outset;
    height: 100px;
    width: 200px;
}

.container-outline-color {
    background-color: #add8e6;
    outline-color: green;
    outline-width: medium;
    outline-style: outset;
    height: 100px;
    width: 200px;
}

.container-linear-gradient {
    background: linear-gradient(red, yellow, blue, orange);
    height: 100px;
    width: 200px;
}

.container-radial-gradient {
    background: radial-gradient(red, yellow, blue, orange);
    height: 100px;
    width: 200px;
}

.container-conic-gradient{
    background: conic-gradient(red, yellow, blue, orange);
    height: 100px;
    width: 200px;
}

.container-text-decoration-line {
    text-decoration-line: overline;
}

.container-text-decoration-color {
    text-decoration-line: underline;
    text-decoration-color: red;
}

.container-text-decoration-style {
    text-decoration-style: dotted;
    text-decoration-line: underline;
}

.container-text-decoration-thickness {
    text-decoration-thickness: 5px;
    text-decoration-line: underline;
}