.hello {
    border-style: goove;
    display: inline-block;
    background-color: gray;
}

.hello1 {
    margin: 16px;
    background-color: orange;
    color: white;
}

.hello2 {
    margin-left: 32px;
    margin-right: 32px;
    background-color: green;
    color: white;
}

.hello3 {
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: black;
    color: white;
}

.hello4 {
    margin-block-start: 64px;
    margin-block-end: 64px;
    background-color: blue;
    color: white;
}

.hello5 {
    margin-inline-start: 64px;
    margin-inline-end: 64px;
    background-color: red;
    color: white;
}

.email {
    display: flex;
    justify-content: space-between;
}

.email_icon {
    width: 40px;
    height: 32px;
    align-items: center;
}

.emaili {
    width: 40px;
    height: 32px;
}

.email_p {
    width: 90%;
}

.emailp {
    font-size: 32px;
    margin: 0%;
}